@media screen and (min-width:901px){
.header{
  display: flex;
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  z-index: 1;
  color: #fff;

  &__logo{
    width: 266px;
    height: 72px;
    margin: 50px 0 0 7%;
  }

  &__pc--nav{
    margin-left: auto;
    margin-top: 75px;
    margin-right: 7%;
    ul{
      display: flex;
    }
    
    li{
      list-style: none;
      margin-left: 40px;
      letter-spacing: 0.1em;
      font-size: 14px;
    }
  }
}

.footer{
  &__nav{
    background-color: #939899;
    padding: 10px 0;
    color: #fff;

    ul{
      display: flex;
      justify-content: center;
    }

    li{
      padding: 10px 20px;
      list-style: none;
      font-size: 13px;
      line-height: 1.7;
    }
  }

  &__title{
    display: flex;
    justify-content: center;
    background-color: #656c6e;
    color: #fff;
    padding: 30px 0;

    img{
      width: 90px;
    }

    p{
      font-size: 10px;
      margin-top: 40px;
      margin-left: 150px;
    }
  }
}
.header__sp{
  display: none;
}

}

@media screen and (max-width:900px){
.header{

  &__logo{
    display: none;
  }

  &__pc--nav{
    
    position: absolute;
    top: -305px;
    z-index: 100;
    width: 100%;

    ul{
      padding-left: 0;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.7);
    }

    li{
      list-style: none;
      color: #fff;
      border-bottom:1px solid #fff;
      padding: 1.2em 7% 1em 7%;
    }
  }
}

.header__sp{

  &--menu{
    padding: 1.2em 7% 1em 7%;
    position: relative;
    background-color: #fff;
  }

  &--humberger{

      width: 60px;
			height: 60px;
      position: absolute;
      top: 0;
      right: 0;


    span{
      display: inline-block;
      transition: all .4s;
      position: absolute;
      left: 16px;
      height: 3px;
      border-radius: 5px;
      background-color: #656c6e;
      width: 45%;
    }

    span:nth-of-type(1){
				top: 16px;
			}

			span:nth-of-type(2){
				top: 26px;
			}

			span:nth-of-type(3){
				top: 36px;
			}
  }
}

.footer{
  &__nav{
    background-color: #939899;
    color: #fff;

    ul{
      margin: 0;
      padding: 0;
    }

    li{
      padding: 10px 20px;
      list-style: none;
      font-size: 14px;
      line-height: 1.7;
      border-top: 1px solid #fff;
      text-align: center;
    }
  }

  &__title{
    background-color: #656c6e;
    color: #fff;
    padding: 30px 0;

    img{
      width: 90px;
      margin: 0 auto;
    }

    p{
      font-size: 10px;
      margin-top: 40px;
      text-align: center;
    }
  }
}

}